<div class="navbar">
  <div class="logo">
    Modular Growing Pixels
  </div>
  <div class="navgroup">
    <a href="/">
    <div class="navitem" id="home">
      Home
    </div>
    </a>
    <a href="about">
    <div class="navitem" id="about">
      About
    </div>
    </a>
    <a href="rule-editor">
    <div class="navitem" id="rules-editor">
      Rules
    </div>
    </a>
    <div style="clear: both"> <!-- for floats -->
    </div>
  </div>
</div>
