<html ng-app="mgpHandler">
  <head>
    <title>Rules - MGP</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="rules.css"/>
  </head>
  <body>
    <div class="container">
    <%- include('partials/navbar') %>
      <center>
        <div class="content" ng-controller="mgpRuleEditCtrl">
          <h1>
            Rule Editor
          </h1>
          <div class="btn-toggle" ng-click="bool=!bool">{{bool? "Hide" : "Show"}} Help</div>
          <div class="hidden" ng-show="bool">
            <p>
              <b>Instructions:</b> MGP is based on simple rules. MGP allows you to customize the rules that governs the application,
              leading to different behavior.
              There are two ways to specify the rules:
            </p>
            <ul>
              <li><b>Box Rules:</b> Each pixel is influenced by its eight neighbors. You can turn these neighbors on and off. 
              When you specify a box rule, a pixel in the simulation will follow the directions when its neighbors match the
              box rule.</li>
              <li><b>General Rules:</b> This option allows you to specify a rule based on the number of a given pixel's 
              neighbors that are alive</li>
            </ul>
            <p>For example, the default option rules (the ones the website runs the first time you visit it) are two general rules:</p>
            <ul>
              <li>A pixel will stay alive if two or three of its neighbors are alive</li>
              <li>A pixel will come alive if three of its neighbors are alive</li>
            </ul>
          </div>
          <a href="/"><div class="btn" ng-click="submit()">Submit</div></a>
          <!-- experimental <div class="btn" ng-click="editAlive = !editAlive">Toggle Alive/Dead</div> --->
          <div ng-if="editAlive" class="rule-container">
		        <div class="rule-box">
		          <h2>
		            Stay Alive
		          </h2>
              <p>
                These rules will keep alive pixels alive
              </p>
              <box-rule-editor type="user.boxRule.stayAlive" ng-model="user.boxRule.stayAlive"></box-rule-editor>
              <gen-rule-editor type="user.genRule.stayAlive"></gen-rule-editor>
		        </div>
		        <div class="rule-box">
		          <h2>
		            To Alive
		          </h2>
              <p>
                These rules will turn dead pixels to alive
              </p>
              <box-rule-editor type="user.boxRule.toAlive" ng-model="user.boxRule.toAlive"></box-rule-editor>
              <gen-rule-editor type="user.genRule.toAlive"></gen-rule-editor>
		        </div>
          </div>
          
          <!--- experimental 
          <div ng-if="!editAlive">
		        <div class="inline-block">
		          <h2>
		            Stay Dead
		          </h2>
		          <mgp-rule-editor name="toAlive" ng-model="user.rule" type="stayDead">
		          </mgp-rule-editor>
		        </div>
		        <div class="inline-block">
		          <h2>
		            To Dead
		          </h2>
		          <mgp-rule-editor name="toDead" ng-model="user.rule" type="toDead">
		          </mgp-rule-editor>
		        </div>
		        <div class="btn">Submit</div>
          </div>
          --->
        </div>
      </center>
      <div class="push"></div> <!-- For sticky footer --->
    </div>
    <div class="footer">
    Made by Trent Fridey 2017
  </div>
    <footer>
      <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="app.js"></script>
    <!--  <script src="client.js"></script> -->
    </footer>
  </body>
  
</html>
