<html>
  <head>
    <title>About - MGP</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>
  <body>
    <div class="container">
    <%- include('partials/navbar') %>
      <center>
        <div class="content">
          <center>
          <h1>
            Sign up / Log In
          </h1>
          </center>
        </div>
        <div class="sign-in left">
          <h2>
            Sign up
          </h2>
          <form class="form" method="post" action="/adduser">
            <!--- <input class="input" type="text" name="email" placeholder="Email"> -->
            <input class="input" type="text" name="username" placeholder="Username">
            <input class="input" type="password" name="password" placeholder="Password">
            <button class="btn" type="submit">Submit</button>
          </form>
        </div>
        <div class="sign-in">
          <h2>
            Log In  
          </h2>
          <form class="form" method="post" action="/login">
            <input class="input" type="text" name="username" placeholder="Username">
            <input class="input" type="password" name="password" placeholder="Password">
            <button class="btn" type="submit">Submit</button>
          </form>
        </div>
      </center>
      <div class="push"></div> <!-- For sticky footer --->
    </div>
    <div class="footer">
    Made by Trent Fridey 2017
  </div>
    <footer>
      <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
    </footer>
  </body>
  
</html>
