h3 {
	font-family: Consolas, Monospace;
	font-size: 22px;
	color: #777;
}
h4 {
	font-family: Consolas, Monospace;
	font-size: 14px;
	color: #000;
	font-weight: normal;
	display: inline;
	margin-top: 2px;
	margin-bottom: 2px;
}

.btn-toggle {
  border: 2px solid #22748f;
  color: #22748f;
  margin: 10px;
  padding: 5px;
  width: 105px;
  border-radius: 3px;
  font-family: Helvetica, sans-serif;
  cursor: pointer;
}

.btn-toggle:hover {
  background-color: #eeefee;
}

.hidden {
  text-align: justify;
  width: 60%;
}

.hidden p {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
  margin-bottom: 16px;
}
.hidden ul {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}
.hidden ul li {
  list-style: square inside none;
  color: #22748f;
}
.rule-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.rule-box {
  flex: 1;
}
.rule-group {
	border: 1px solid #999;
	padding: 25px;
	width: 250px;
}
.rule-opt {
	display:inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
.rule-opt.right {
	border-left: 1px solid #999;
}
.box {
	border: 3px solid #7bafce;
	width: 90px;
	height: 90px;
}
.add-rule {
	margin: 10px auto;
}
.cell-rule {
	width: 29px;
	height: 29px;
	border-top: 1px solid #22748f;
	border-left: 1px solid #22748f;
	float:left;
	margin:0px;
	font-size: 7px;
}
.cell-rule:nth-child(3n+1){
	clear: both;
}
.cell-rule:hover {
	background-color:#efb800;
}
.const {
	background: repeating-linear-gradient(
	45deg,
	#22748f,
	#22748f 5px,
	#ddd 5px,
	#ddd 10px
	);
}
.on {
	background-color:#cf9600;
}
.rule-btn {
	width: 25px;
	height: 25px;
	font-size: 18px;
	padding: 5px;
	margin: 10px;
	display: inline-block;
	font-family: Consolas, Monospace;
	border: 1px solid #22748f;
	cursor: pointer;
}
.gen-select {
	width: 30px;
	display: inline-block;
}
