<!-- User Stories
	- (general select) I can select general rules based on number of neighboring pixels to influence each direction
	- I can add up to two more general selects to influence each direction
-->

<div class="rule-group">
  <h3>
    General Rules
  </h3>
  <div class="rule-opt" ng-repeat="i in type track by $index">
    <p style="display: inline">
      {{$index+1}}. Any <select class="gen-select" ng-model="type[$index].current" ng-options="opt for opt in type[$index].list">
    </select> neighbors
    </p>
    <div class="rule-btn">
      X
    </div>
  </div>
  <div class="add-rule">
    <div class="rule-btn">
      +
    </div>
    <h4>
      Add
    </h4>
  </div>
</div>